<!--
<p-toast />
-->

<div class="bg-white py-6 sm:py-16">
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8">

        @if (!isModalOpen){

            <main>
            
                <div class="mx-auto max-w-2xl lg:text-center">
                    <p class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Verificación de Identidad</p>
                    
                    @if (showButton){
                        <button
                        (click)="openModal()" 
                        class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                        >Iniciar</button>

                        
                        <app-home-buttons [listButtons]="listButtons" [ngClass]="{'hidden': !showButton}"></app-home-buttons>

                    } @else {
                        <div [ngClass]="{'hidden': !errorCsrf}">
                            <i class="mt-12 pi pi-lock" style="color: rgb(144, 22, 22); font-size: 5rem"></i>
                            <p class="mt-4 text-3xl tracking-tight text-gray-500 sm:text-3xl">{{messageError}}</p>
                        </div>
                    }
    
                </div>
    
    
            </main>
        } @else {
            <app-webcam-face class="justify-center min-h-screen" [csrfToken]="csrfToken" [idFace]="idFace" [isModalOpen]="isModalOpen" (close)="closeModal()"></app-webcam-face>

        }

    </div>

</div>
